<div class="text-center"><% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>
</div>

<div><%= form_with model: @appointments do |f| %>
    <div class="d-flex justify-content-center">
    <div class="p-4"><%= f.collection_select :doctor_id, @doctors, :id, :name %></div>
    <div class="p-4"><%= f.collection_select :patient_id, @patients, :id, :name %></div>
    <div class="p-4"><%= f.collection_select :datetime_id, @datetimes, :id, :date%></div>
    </div>
    <div class><%= f.label "Please briefly describe your symptoms:" %></div>
    <div><%= f.text_area :symptoms %> </div>
    <div class="btn"><%= f.submit %></div>
<% end %>

<%= link_to "Check out more doctor information here", analytics_url %>

</div>