<% if flash[:errors] %>
<% flash[:errors].each do |errors| %>
<p><%= errors %></p>
<% end %>
<% end %>

<h1><%= form_with model: @appointments do |f| %></h1>

<%= f.collection_select :doctor_id, @doctors, :id, :name %>
<%= f.collection_select :patient_id, @patients, :id, :name %>
<%= f.collection_select :datetime_id, @datetimes, :id, :date%>

<%= f.submit %>
<% end %>
