<div class="text-center"><% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p><%= error %></p>
<% end %>
<% end %>
</div>

<div class="text-center"><%= form_with model: @appointments do |f| %>
    <div class="d-flex justify-content-center">
    <div class="p-4"><%= f.collection_select :doctor_id, @doctors, :id, :name %></div>
    <div class="p-4"><%= f.collection_select :patient_id, @patients, :id, :name %></div>
    <div class="p-4"><%= f.collection_select :datetime_id, @datetimes, :id, :date%></div>

    <div class="p-4 buttons blob-btn"><%= f.submit %></div>
<% end %>

</div>