<h1>Doctors</h1>
<%= form_tag doctors_path, :method => "get" do %>
<%= label_tag(:search, "Search for doctor:") %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", :name => nil) %>
<% end %> <br>

<%= form_tag doctors_path, :method => "get" do %>
<%= label_tag(:search, "Search by rating:") %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag("Search", :name => nil) %>
<% end %><br>



<% @doctors.each do |d| %>
<%= link_to d.name, doctor_path(d.id)%><br>
<%= d.specialty.name %><br>
<%= d.hospital.name %><br>
<%= d.rating %><br><br>
<% end %>

