<h1><%= @doctor.name %></h1>
<h3>Specialty: <%= link_to @doctor.specialty.name, @doctor.specialty %></h3>
<h3>Pharmacy: <%= link_to @doctor.pharmacy.name, @doctor.pharmacy%></h3>
<h3>Hospital: <%= link_to @doctor.hospital.name, @doctor.hospital%></h3>

<p>Cost: <%="$#{@doctor.cost_s}"%></p>


<%= form_tag doctor_path, :method => "patch" do %>
<%= label_tag(:rating, "Leave a rating:") %> 
<%= text_field_tag :rating %>
<%= submit_tag("Submit", :name => nil) %><br>
<%= "Must be a number 1-10" %>
<%end%>
<%= flash[:notrating] %>

<h3>Rating: <%= @doctor.rating %></h3><br><br><br><br><br><br><br><br><br>
<h4><%= "Appointments:" %></h4>
<% @doctor.appointments.each do |d| %>
<%= link_to "Patient Name: #{Patient.find(d.patient_id).name}", patient_path(d.patient_id) %><br>
<%= "Date: #{Datetime.find(d.datetime_id).date}" %><br>
<%= "Patient's Symptoms: #{d.symptoms}" %><br>
<% end %>

<%= link_to "Back to Homepage", patients_path %>



