<h1>Name: <%= @doctor.name %></h1>
<h3>Specialty: <%= @doctor.specialty.name %></h3>
<h3>Pharmacy: <%= @doctor.pharmacy.name %></h3>
<h4><%= "Appointments:" %></h4>
<% @doctor.appointments.each do |d| %>
<%= "Patient Name: #{Patient.find(d.patient_id).name}" %><br>
<%= "Date: #{Datetime.find(d.datetime_id).date}" %>
<% end %>