<style>
header {
  background-color: #1AA718;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

body {
  background-image: url(<%= asset_path 'healthcare.jpg' %>);
  margin: auto;
}

.age {
    color: black;
}
 
</style> 
<header>

<h1> Welcome to our Healthcare Group </h1>
<h2>Our Hospitals, Specialties, and Pharmacies are listed below.</h2>
<h2>To create an appointment with one of our providers, click the link below:</h2><br>
</header>
<br>
<h3><%= link_to "Create New Appointment", new_appointment_path%></h3>
<h3 class="age" >Our Patients Range in Age From: <%= @youngest.age%> to <%= @oldest.age%></h3>
<h3><%= link_to "Analytics page of our group", analytics_path%></h3>
<br><br><br><br><br>
<h2>Hospitals Where We Provide Care: </h2>
<% @hospitals.each do |h| %>
<h3><%= link_to h.name, h %><br></h3>
<% end %>

<h2>Specialty Care We Offer: </h2>
<% @specialties.each do |s| %>
<h3><%= link_to s.name, s %></h3>
<% end %>

<h2>Pharmacies in our Network: </h2>
<% @pharmacies.each do |p| %>
<h3><%= link_to p.name, p %></h3>
<% end %>
</body>