<h1><%= @pharmacy.name %></h1>

<h3>Doctors who prescribe here:</h3>
<% @pharmacy.doctors.each do |d| %>
<%= link_to d.name, doctor_path(d) %><br>
<%= d.specialty.name %><br>
<%= d.hospital.name %><br><br>
<% end %>
<br>
<%= link_to "Back to Homepage", patients_path %>